.title {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0px;
    display: inline-block;
    padding: 5px 0px;
    overflow-wrap: break-word;
}

.topSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spText {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    color: rgb(50, 49, 48);
}

.addButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height:32px;
    border: 1px solid rgb(96, 94, 92);
    width: 31.5%; 
}

.fileList {
    margin-top: 20px;
}

.fileItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height:32px;
    border: 1px solid rgb(96, 94, 92);   
}

.fileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    display: inline-block;
}

.removeButton {
    margin-right: 10px;
    border-style: solid;
    border-radius: 2px;
    border: 1px solid rgb(96, 94, 92);
    justify-content: center;
}
  